<div class="shadow p-3 m-5 bg-white rounded">
  <h3 class="text-center">About Universe of Ice and Fire</h3>
  <br>
  <p class="lead">This is an API of Ice And Fire which is the world's greatest source for quantified and structured data from the universe
    of Ice and Fire (and the HBO series Game of Thrones).</p>
  <p class="lead">It gives access to data about all the Books, Characters and Houses in an easy to use JSON format.</p>
  <p class="lead">This API utilizes a couple of frameworks and libraries but these are the most important ones.</p>
  <ul class="list-group list-group-flush lead">
    <li class="list-group-item">
      <b>ASP.NET Core</b> - The API is built on top of this awesome framework by Microsoft.</li>
    <li class="list-group-item">
      <b>Azure</b> - The API has been hosted on Azure from the very first day and it's been a smooth ride ever since.</li>
    <li class="list-group-item">
      <b>Dapper</b> - This micro ORM has been invaluable since we switched from Entity Framework.</li>
  </ul>
</div>