.bookStyle{
    border-color: #f50000;
    background-color: #ffe5e5;
}

.characterStyle {
    border-color: #0000d1;
    background-color: #dbdbff;
}

.houseStyle {
    border-color: #00520c;
    background-color: #e2fde6;
}